/*Header modifications because we have <a> tag in it now*/
header > a{
    text-decoration: none;
    color:black;
}

header > a > h1 {
    margin:0;   
}

/*Edit Info Div*/
#info_div {
    max-height: 50%;
}

#info_div > table, input, textarea {
    width:100%;
}

#updated {
    appearance: none;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    cursor: pointer;
    margin:0;

}

#updated:checked {
    background-color: rgb(94, 239, 94);
}

#save {
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:20px;
    cursor: pointer;
}

#delete {
    background-color: red;
    padding-top:10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bolder;
    color:white;
}

/*Backup List*/
#backup_div {
    max-height: 30%;
}

#backup_div > table, input, textarea {
    width:100%;
}

#backup_table > tr {
    outline: 2px solid black;
}

/*Add Backup*/
#create_backup_div {
    max-height: 30%;
}

#create_backup_div > table, input, textarea {
    width:100%;
}