/*Searchbar*/
#search_div {
    position:relative;
    border:none;
    overflow:visible;
}

#search_input {
    width:100%;
    border: 5px solid black;
    background-color: rgb(235, 234, 234);
    border-radius: 10px;
    line-height: 30px;
    font-size:20px;
    margin-bottom:0;
}

/*Search Popup Suggestions*/
#suggestions {
    position: absolute;
    background-color: rgb(195, 195, 195);
    width:100%;
    outline: 5px solid black;
    border-radius: 10px;
    list-style: none;
    margin:0;
    padding:0;
}

#suggestions:empty {
    display:none;
}

#suggestions > li > a {
    text-decoration: none;
    display:block;
}

#suggestions > li {
    padding-top:5px;
    padding-bottom: 5px;
    border:2px solid black;
    width:100%;
}

#suggestions > li:hover {
    background-color: rgb(170, 169, 169);
}

/*Overview*/
#overview_div {
    max-height:50%;
    overflow-y: auto;
}

.detailedoverviewsection {
    outline: 1px solid black;
    margin: 0;
    width:calc(100% / 5);
    display:inline-block;
}

#overview_div > a {
    text-align: center;
    line-height: 10px;
    color:black;
}

#overview {
    width: 100%;
    padding:0;
    border-spacing: 0;   
    margin: 0;
    border-collapse: collapse;
}

.breakable_td {
    outline: 1px solid black;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;
    word-wrap:break-word;
    word-break: break-all;
    table-layout: fixed;
}

.overviewtd {
    width:calc(100% / 3);
}

.detailedoverviewtd {
    width:calc(100% / 5);
}

/*Add Collection*/
#add_collection_div {
    max-height: 50%;
}

#add_collection_div > table, input, textarea {
    width:100%;
}

#add_collection_div > h2 {
    text-align: center;
}

#updated {
    appearance: none;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    cursor: pointer;
    margin:0;

}

#updated:checked {
    background-color: rgb(94, 239, 94);
}

#add {
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:20px;
    cursor: pointer;
}
